/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap'); */
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  a{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  /* p {
    font-size: 1px;
    font-weight: 300;
    line-height: 20px;
  } */
  a,a:hover{
    text-decoration: none !important; 
    /* color: black; */
  }
  a,
  button {
      outline: none !important;
  }
  ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  h1,h2,h3,h4,h5,h6 {
    margin: 0px;
    padding: 0px;
  }
  a:focus,
  select:focus,
  input:focus {
      text-decoration: none !important;
      outline: none !important;
      box-shadow: none !important;
      border-radius: none !important;
  }
  a:focus,
  .btn:focus {
      text-decoration: none;
      outline: none;
      box-shadow: none !important;
  }
  img{
    vertical-align: middle;
  }

:root{
    --e-global-color-primary: #4D0AA4;
    --e-global-color-secondary: #AD77FF;
    --e-global-color-text: #505050;
    --e-global-color-accent: #4D0AA480;
    --e-global-color-434e96be: #202020;
    --e-global-color-5538c1c7: #FFE433;
    --e-global-color-14cf00be: #FFC131;
    --e-global-color-367fa83: #000000;
    --e-global-typography-primary-font-family: "Arial";
    --e-global-typography-secondary-font-family: "Arial";
    --e-global-typography-text-font-family: "Tahoma";
    --e-global-typography-accent-font-family: "Tahoma";
}

.navbar-nav a{
    font-family: 'Roboto',sans-serif;
    text-decoration: none;
    font-size: 16px;
    line-height: 35px;    
    font-weight: 600;
    color: #231f20;
    letter-spacing: 1px;
    padding: 0 10px;
}
.navbar-nav a:hover{
    color: #08087f;
}
.navbar-nav .active{
    color: #08087f;
}
.logo{
    width: 150px;
}
.card_part.Active{
    background: rgb(164,109,246);
    background: linear-gradient(90deg, rgba(164,109,246,1) 13%, rgba(82,15,168,1) 47%);
    padding: 60px 20px;
    border-radius: 15px;
}
.card_part{
    padding: 60px 20px;
    border-radius: 15px;
}
.card_heading h4{
    color: #fff;
    letter-spacing: 5px;
    text-align: center;
}

.card_menu li a{
 line-height: 40px;
 color: rgb(30, 26, 26);
 font-weight: 500;
 font-size: 17px;
}
.card_icon span i{
    font-size: 45px;
}
.card_part p{
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
  
}

/* footer_section */
.footer_section{
    background: #F3F3F3;
}
.footer_logo img{
 margin: 0;
 padding: 0;
 display: inline-block;
 width: 100%;
}
.footer_content p{
color: #8D8D8D;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 18px;
font-weight: 300;
line-height: 25px;
}
.footer_menu_part2 ul{
 list-style: none;
 margin: 0;
 padding: 0;
}
.footer_menu_part2 ul li{
    
}
.footer_menu_part2 ul li a{
text-decoration: none;
font-size: 20px;
color: #8D8D8D;
line-height: 45px; 
}
.footer_contact_heading h5{
font-size: 18px;
color: #8D8D8D;   
}
.footer_contact_heading p{
font-size: 16px;
color: #8D8D8D;
font-weight: 400;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
text-align: center;   
}
.footer_contact_heading span{
    font-size: 16px;
    color: #8D8D8D;
    font-weight: 400;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: -8px;
    display: inline-block;
}
.footer_contact_heading strong{
    font-size: 16px;
    color: #505050;;
    font-weight: 500;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 15px;
    text-align: center !important;
    font-size: 17px;
    display: inline-block;
}
.footer_contact_heading p a{
    font-size: 16px;
    color: #8D8D8D;
    font-weight: 500;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center !important;
    font-size: 17px;
    display: inline-block;
}

.footer_contact_heading h6{
    font-size: 16px;
    color: #8D8D8D;
    font-weight: 500;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center !important;
    font-size: 17px;
    display: block; 
}
.footer_partfour p{
    font-size: 15px;
    color: #8D8D8D;
    font-weight: 500;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: block;  
}
.footer_partfour span input[type="email"]{
    color: #8D8D8D;
    font-family: "Arial", Sans-serif;
    width: 100%;
    max-width: 100%;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 100px 100px 100px 100px;
    padding: 17px 30px 20px 30px;
    transition: all ease-out 0.3s;
}
.footer_partfour span input:hover{
  outline: none !important;
  border: none !important;
  border-style: none;
}
.footer_partfour p input{
  padding: 15px 25px;
  background: #4D0AA4;
  outline: none;
  border: none;
  color: #fff;
  position: absolute;
  right: 75px;
  margin-top: -57px; 
  border-radius: 100px 100px 100px 100px; 
}


/* slider css */
.carousel-item img{
    height: 600px;
    object-fit: cover;
}
.about-us{
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 5px;
    color: var(--e-global-color-434e96be);
    margin: 0px 0px 25px 0px;
}
.about-heading {
    background: var(--e-global-color-secondary);
    background: -moz-linear-gradient(271deg, var(--e-global-color-secondary) 0%, var(--e-global-color-primary) 100%);
    background: -webkit-linear-gradient(271deg, var(--e-global-color-secondary) 0%, var(--e-global-color-primary) 100%);
    background: linear-gradient(271deg, var(--e-global-color-secondary) 0%,var(--e-global-color-primary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", Sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 65px;
    letter-spacing: -1px;
    margin: 0px 0px 55px 0px;
    max-width: 579px;
}
.paragraph-font p{
    font-family: "Poppins", Sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 25px;
    max-width: 546px;
}
.reed-more{
    color: white;
    padding: 16px 41px 16px 41px;
    background-color: transparent;
    background-image: linear-gradient(90deg, var(--e-global-color-secondary) 0%, var(--e-global-color-primary) 100%);
    box-shadow: 0px 6px 35px 0px rgba(83,17,170,0.73);
    text-shadow: 0px 0px 10px rgba(0,0,0,0);
    text-transform: uppercase;
}
.reed-more::after{
    background-color: var( --e-global-color-367fa83 );
}
.reed-more:hover{
    box-shadow: 0px 6px 35px 0px rgba(0,0,0,0.73);
}
/* Apparel Products start  */
.hr{
    content: '';
    width: 30px;
    height: 6px;
    background: var(--e-global-color-secondary);
    background: linear-gradient(277deg, var(--e-global-color-secondary) 4%, var(--e-global-color-primary) 84%);
    border-radius: 8px;    
}
.inner-section{
    background: white;
}
.apparel-products .inner-section h2 a{
    color: #000000;
}
.apparel-products .inner-section h4 a{
    color: #000000;
}
.apparel-products .inner-section{
    margin-top: 20px;
}
.apparel-products:hover .inner-section {
    margin-top: -20px;  
    background: var(--e-global-color-secondary);
    background: linear-gradient(180deg, var(--e-global-color-secondary) 4%, var(--e-global-color-primary) 84%);
    box-shadow: 0 3px 25px #4D0AA480;
    transition: all 1100ms cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateY(-20px);
    color:  #fff!important;
}
.apparel-products:hover .inner-section .h2{
    background-color:  #fff!important;
}
.apparel-products:hover .inner-section .hr{
    background:  #fff!important;
}
.apparel-products:hover .inner-section h2 a{
   color:  #fff!important;
}
.apparel-products:hover .inner-section  h4 a{
    color:  #fff!important;
 }
.view-all{
    padding: 14px 40px 14px 40px;
    background-color: var(--e-global-color-367fa83);
    text-transform: uppercase;
    text-shadow: 0 2px 0 #292929;
    color: white;
}
.view-all:hover{
    box-shadow: 0px 6px 35px 0px rgba(0,0,0,0.73);
}

/* Apparel Products end  */


/* collaborate css start  */
.collaborate-heading{
    text-align: center;
    font-family: 'Poppins';
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    mix-blend-mode: multiply;
    font-size: 2em;
    line-height: 1.5;
}
/* slider  */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    cursor: move;
  }

  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    position: sticky;
    margin-top: 33px;
}

/* collaborate css end  */


/* Tem css start  */
.bg-tim{
    background-image: url(https://centurysourcingltd.com/wp-content/uploads/2020/01/backgranod-Team-section.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

.tem-heading{
    
    font-family: 'Poppins';
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    mix-blend-mode: multiply;
    font-size: 2em;
    line-height: 1.5;
}
.tem-description{
    text-align: center;
    color: var(--e-global-color-text);
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    max-width: 803px;
}
.tim-img{
    margin-top: -20px;
    margin-left: -20px;
}
.tem-content h2{
    background: var(--e-global-color-secondary);
    background: -moz-linear-gradient(271deg, var(--e-global-color-secondary) 0%, var(--e-global-color-primary) 100%);
    background: -webkit-linear-gradient(271deg, var(--e-global-color-secondary) 0%, var(--e-global-color-primary) 100%);
    background: linear-gradient(271deg, var(--e-global-color-secondary) 0%,var(--e-global-color-primary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", Sans-serif;    
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: -1px;
    max-width: 579px;
}

.tem-content h5{
    font-family: "Poppins", Sans-serif;
    font-size: 19px;
    text-transform: none;
    line-height: 27px;
}
.tem-content p{
    color: var(--e-global-color-text);
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    line-height: 25px;
}
.socials  i{
    color: var(--e-global-color-primary);
    font-size: 20px;
}
/* Tem css end */
/* blog  */
.blogs h2{
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 5px;
    color: var(--e-global-color-434e96be);
    margin: 0px 0px 25px 0px;
}
.blogs p{
    color: var(--e-global-color-text);
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin-top: 30px;
}
.entry-title{
    box-shadow: 0px 3px 45px rgba(0,0,0,0.33);
}
.entry-title h2{
    width: 80px;
}
.entry-title h4{
    color: black;
}
.entry-title:hover{
    background: var(--e-global-color-secondary);
    background: linear-gradient(180deg, var(--e-global-color-secondary) 4%, var(--e-global-color-primary) 84%);
    box-shadow: 0 3px 25px #4D0AA480;
    top: -116px;
    transition: all 1100ms cubic-bezier(0.19, 1, 0.22, 1);
}
.entry-title:hover h4{
    color:  #fff!important;
}
.entry-title:hover strong{
    color:  #fff!important;
}
.entry-title:hover h2{
    background:  #fff!important;
}
/* blog end  */
/* get started */
.started{
    background-color: transparent;
    background-image: linear-gradient(179deg, var(--e-global-color-secondary) 0%, var(--e-global-color-primary) 100%);
}
.started h2{
    font-family: "Poppins", Sans-serif;
    font-size: 56px;
    font-weight: 500;
    line-height: 66px;
    color: #ffffff;
    max-width: 498px;
}
.started button{
    padding: 15px 39px 15px 39px;
    background-color: transparent;
    background-image: linear-gradient(180deg, var(--e-global-color-5538c1c7) 0%, var(--e-global-color-14cf00be) 100%);
    box-shadow: 0px 11px 35px 0px rgba(255,225,50,0.65);
    text-shadow: 0px 0px 10px rgba(0,0,0,0);
    text-transform: uppercase;
}
.started button:hover{
    background-color: transparent;
    background-image: linear-gradient(180deg, var(--e-global-color-434e96be) 0%, var(--e-global-color-367fa83) 100%);
    color: white;
    box-shadow: 0px 6px 35px 0px rgba(0,0,0,0.56);

    /* transform: translate(-50%, -50%) scale(1, 1); */
}
/* get end  */
/* brands  */
/* Colorize-zoom Container */
.img-hover-zoom--colorize img {
    transition: transform .5s, filter 1.5s ease-in-out;
    /* filter: grayscale(100%); */
  }
  
  /* The Transformation */
  .img-hover-zoom--colorize:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
    cursor: pointer;
  }
/* brands end */










@media (max-width: 1024px){
    .paragraph-font p{
        font-size: 14px;
        margin: 0px 0px 0px 0px;
    }
}
